doctype html
html(dir='ltr', lang='en')
  head
    meta(charset='utf-8')
    title Chat
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      #box {
      width: 500px;
      height: 200px;
      overflow-x: auto;
      border: 2px solid grey;
      font-family: monospace;
      }
  body
    #box
    input#msg(type='text')
    script(src='/javascripts/client.js')

//<!DOCTYPE html>
//<html lang="en" dir="ltr">
//  <head>
//    <meta charset="utf-8">
//    <title>Chat</title>
//    <meta name="viewport" content="width=device-width, initial-scale=1">
//    <style>
//      #box {
//        width: 500px;
//        height: 200px;
//        overflow-x: auto;
//        border: 2px solid grey;
//        font-family: monospace;
//      }
//    </style>
//  </head>
//  <body>
//      <div id="box"></div>
//      <input type="text" id="msg">
//      <script src="./client.js"></script>
//  </body>
//</html>
