doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    |     
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    |     
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    |     
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |     
    script(src='/javascripts/registr.js')
    |     
    title MovieKraken | Film
  body(onload='inizializzaStorageReg();inizializzaStorageAcc()')
    div ciao
    div(id = "ciao")
    script.
    -if(jsonfile == NULL){ console.log("jsonfile non esiste")}
    -else {
      -console.log(jsonfile)
      -var t = jsonfile['overview'];
      -var title = jsonfile['original_title']
      -}
    p Titolo: #{title}
    br
    p Trama: #{t}