doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | HomePage
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert
    body.filmbg
    // Navigation
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsHomepage', aria-controls='navbarsHomepage', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |             
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.text-white(href='/film') Film
            |                     
            li.nav-item
              a.nav-link.text-white(href='/tvshow') Serie TV
            |                     
            li.nav-item
              a.nav-link.text-white(href='/login') Login
            |                     
            li.nav-item
              a.nav-link.text-white(href='/signup') Sign Up
            |                     
            li.nav-item
              a.nav-link.text-white(href='/chat') Chat
    // Navigation
    br
    br
    br
    
    div.container.mt-5
      form(action = "/film", method='post')
        div(class="input-group mb-3")
          input.form-control#filmSearch(type='text', name='nomeFilm', placeholder='Cerca il titolo del film che desideri...', required)
          div.input-group-append
            input(class = 'btn btn-primary',type='submit')
    
    br
    div(style = "margin-left: 40%")
      h1.tfilm POPOLARI

     div.container.container.mt-4.mb-5    
      hr.bg-dark.mb-4.w-25
      |       
      .row 
        .col-md-4 
            h4.tfilm Avengers: Endgame                  
            a#animation_6(href = "https://www.themoviedb.org/movie/299534-avengers-endgame?language=it-IT")
             img(src="/images/avend.jpg", width="85%")
             
        |             
        .col-md-4
            h4.tfilm Pulp Fiction
            a#animation_6(href="https://www.themoviedb.org/movie/680-pulp-fiction?language=it-IT")
             img(src="/images/pulp.jpg", width="85%")
             
        |             
        .col-md-4
            h4.tfilm Inception
            a#animation_6(href="https://www.themoviedb.org/movie/27205-inception?language=it-IT")
             img(src="/images/inception.jpg", width="85%")
   //
    // Footer
    footer.footer.bg-dark.text-white
      .container.pt-5.pb-2
        .row
          .col-md-3.col-lg-4.col-xl-3
            h4 il trio universitario :P
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              | Progetto realizzato per il corso di Reti di Calcolatori, universit&agrave; Sapienza di Roma.
          |                 
          .col-md-3.col-lg-2.col-xl-2.mx-auto
            h4 Useful links
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              a.text-white(href='#') Home
            |                     
            p
              a.text-white(href='#') About Us
            |                     
            p
              a.text-white(href='#') Services
            |                     
            p
              a.text-white(href='#') Contact
          |                 
          .col-md-4.col-lg-3.col-xl-3
            h4 Contact
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              a(href='https://goo.gl/maps/Z6mkUPT3rin')
                i.fa.fa-home.mr-3
              |  Piazzale Aldo Moro 7
            |                     
            p
              i.fa.fa-envelope.mr-3
              |  plutoboy97@gmail.com
            |                     
            p
              i.fa.fa-phone.mr-3
              |  + 06 842 569
      div#sessionStorage
      // Footer Links
      hr.bg-white.mx-4.mt-2.mb-1
      // Copyright
      .container-fluid
        p.text-center.m-0.py-1
          | &copy; 2017 Copyright 
          a.text-white(href='https://getbootstrap.com/') Bootstrap 4
      // Copyright
    // Footer
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')     
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
