doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    | 
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    |             
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | SerieTV
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert

    style.
      #searchbar {
        margin-top: 4%;
      }
      #imag {
        margin-left: 3%;
      }
      #margin{
        border-radius: 0px 0px 20px 20px; 
      }
      #margintop{
        border-radius: 20px 20px 20px 20px; 
      } 
      
    body.sbg

    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |                        
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto               
            li.nav-item
              #film
                a.nav-link.text-white(href='/home_film') Film
            |                     
            li.nav-item
              #tvshow
                a.nav-link.text-white(href='/home_tvshow') Serie TV
            -if(user)
              li.nav-item
                #chat
                  a.nav-link.text-white(href='/chat') Chat
              li.nav-item.active
                a.nav-link(href='/auth/userPage')
                  i.fa.fa-address-card
                  |  Hi
                  span.nav-user  #{user.firstName}
              li.nav-item.active
                a.nav-link(href='/auth/logout')
                  i.fa.fa-sign-out
                  |  Log-out
            -else
              li.nav-item.active
                  a.nav-link(href='/auth/login')
                    i.fa.fa-sign-in
                    |  Log-in
            
    //rimando i dati raccolti al router della pagina corrente
    #searchbar
    div.container.mt-5
      form(action = "/home_tvshow", method='post')  
        div(class="input-group mb-3")
          input.form-control#tvshowSearch(type='text', name='nomeShow', placeholder='Cerca il titolo della serie TV che desideri...', required)
          div.input-group-append
            input(class = 'btn btn-primary',type='submit', value='Cerca', style='background-color: black; border-color:black;')
                 
     #imag
     div.container.container.mt-4.mb-5   
      //hr.bg-dark.mb-4.w-25
      |                      
      .row
        .col-md-4 
          .card#margintop(style="width:85%")
            h4.tfilm Peaky Blinders
            a#animation_6(href="/risultato_TV/:60574?")
             img#margin(src="/images/peaky.jpg", width="100%")
        |             
        .col-md-4
          .card#margintop(style="width:85%")
            h4.tfilm I Simpson                
            a#animation_6(href = "/risultato_TV/:456?")
              img#margin(src="/images/Simpson.jpg", width="100%") 
        |             
        .col-md-4
          .card#margintop(style="width:85%")
            h4.tfilm Big Bang Theory
            a#animation_6(href="/risultato_TV/:1418?")
<<<<<<< HEAD
             img#margin(src="/images/bang.jpg", width="100%")

  // Footer
footer.footer.bg-dark.text-white
  // Footer Links
  .container.pt-5.pb-2
    .row
      .col-md-3.col-lg-4.col-xl-3
        h4 Information
        |                     
        hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
        |                     
        p
          | Progetto realizzato per il corso di Reti di Calcolatori, universit&agrave; Sapienza di Roma.
      |                 
      .col-md-3.col-lg-2.col-xl-2.mx-auto
        h4 Useful links
        |                     
        hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
        |                     
        p
          a.text-white(href='/') Home
        |                     
        p
          a.text-white(href='#') About Us
      |                 
      .col-md-4.col-lg-3.col-xl-3
        h4 Contact
        |                     
        hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
        |                     
        p
          a(href='https://goo.gl/maps/Z6mkUPT3rin')
            i.fa.fa-home.mr-3.text-white
          |  Piazzale Aldo Moro 7
        |                                        
        p
          i.fa.fa-phone.mr-3
          |  + 06 842 569
  // Footer Links
  hr.bg-white.mx-4.mt-2.mb-1
  // Copyright
  .container-fluid
    p.text-center.m-0.py-1
      | &copy; 2019 Copyright 
      a.text-white(href='https://getbootstrap.com/') MK
  // Copyright
// Footer
=======
             img(src="/images/bang.jpg", width="100%")
>>>>>>> redme-branch
