doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')     
    script(src='https://apis.google.com/js/platform.js', async='', defer='')    
    script(src='https://apis.google.com/js/platform.js?onload=init', async='', defer='')         
    script(src='//code.jquery.com/jquery-1.11.1.min.js')    
    meta(charset='UTF-8')    
    meta(http-equiv='X-UA-Compatible', content='ie=edge')    
    link(href='/stylesheets/homepage.css', rel='stylesheet', type='text/css')   
    link(rel='shortcut icon', href='window.location.reload(true);/images/logo.jpg')   
    title MovieKraken | HomePage   
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='shortcut icon', href='/images/logo.jpg')    
    body.sfbg
    // Navigation
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='#') MovieKraken
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsHomepage', aria-controls='navbarsHomepage', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |             
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto  
            
            li.nav-item
              #film
                a.nav-link.text-white(href='/home_film') Film
                             
            li.nav-item   
              #tvshow
                a.nav-link.text-white(href='/home_tvshow') Serie TV
                         
            li.nav-item
              #chat
                a.nav-link.text-white(href='/chat') Chat
                
            li.nav-item   
              #signin
                a.nav-link.text-white(href='/auth/login') Login
            li.nav-item   
              #profile
                a.nav-link.text-white(href='/profile') Profilo
    script.
        if(user)
          $("#signin").html("a.nav-link.text-white(href='/auth/logout') logout")  
    style.
      #title {
        text-align: center;
        font-family: Georgia;
      }
      #box {
        margin-top: 1.1%;
        margin-left: 15%;
      }
      #br {
        margin-top: 1.1%;
      }
      
    br
    // Card
    div.container.container.mt-4.mb-5
      hr.bg-dark.mb-4.w-25
      |       
      .row 
        .col-md-4#box
          .card
            h4.tfilm#title Film             
            a#animation_6(href = "/home_film")
             img(src="/images/venom.jpg", width="100%")
        |             
        .col-md-4#br
          .card
            h4.tfilm#title Serie TV
            a#animation_6(href="/home_tvshow")
             img(src="/images/bb.jpg", width="100%")
// Footer
footer.footer.bg-dark.text-white
      // Footer Links
      .container.pt-5.pb-2
        .row
          .col-md-3.col-lg-4.col-xl-3
            h4 Information
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              | Progetto realizzato per il corso di Reti di Calcolatori, universit&agrave; Sapienza di Roma.
          |                 
          .col-md-3.col-lg-2.col-xl-2.mx-auto
            h4 Useful links
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              a.text-white(href='#') Home
            |                     
            p
              a.text-white(href='#') About Us
          |                 
          .col-md-4.col-lg-3.col-xl-3
            h4 Contact
            |                     
            hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
            |                     
            p
              a(href='https://goo.gl/maps/Z6mkUPT3rin')
                i.fa.fa-home.mr-3.text-white
              |  Piazzale Aldo Moro 7
            |                                        
            p
              i.fa.fa-phone.mr-3
              |  + 06 842 569
      // Footer Links
      hr.bg-white.mx-4.mt-2.mb-1
      // Copyright
      .container-fluid
        p.text-center.m-0.py-1
          | &copy; 2019 Copyright 
          a.text-white(href='https://getbootstrap.com/') MK
      // Copyright
    // Footer

