doctype html
html
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(href='/stylesheets/film.css', rel='stylesheet', type='text/css')
    |     
    link(rel='shortcut icon', href='/images/logo.jpg')
    |     
    title MovieKraken | SerieTV
    |     
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    // sweet alert
    style.
      #box {
        margin-left: 4%;
      }  
      #testo {
        color: white;
        text-decoration : none;
        margin-left: 40%;   
        font-size: 25px
      }
    body.bgimg
    // Navigation
    br
    br
    br
    br
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand.text-white(href='/') MovieKraken
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsHomepage', aria-controls='navbarsHomepage', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |             
        .collapse.navbar-collapse(id='navbarsHomepage userlog')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.text-white(href='/film') Film
            |                     
            li.nav-item
              a.nav-link.text-white(href='/tvshow') Serie TV
            |                     
            li.nav-item
              a.nav-link.text-white(href='/login') Login
            |                     
            li.nav-item
              a.nav-link.text-white(href='/signup') Sign Up
            |                     
            li.nav-item
              a.nav-link.text-white(href='/chat') Chat
    // Navigation
    br
    div.container.mt-5
      form(action = "/tvshow", method='post')
        div(class="input-group mb-3")
          input.form-control#tvshowSearch(type='text', name='nomeShow', placeholder='Cerca il titolo della serie tv che desideri...', required)
          div.input-group-append
            input(class = 'btn btn-primary',type='submit')
    
    br
    br
    br      

    div.container.container.mt-4.mb-5   
      hr.bg-dark.mb-4.w-25
      |       
      .row#box
        .col-md-4 
            h4#testo Lost                 
            a#animation_6(href = "/tvresults/:4607?")
             img(src="/images/lost.jpg", width="85%")
             
        |             
        .col-md-4
            h4.tfilm Peaky Blinders
            a#animation_6(href="/tvresults/:60574?")
             img(src="/images/peaky.jpg", width="85%")
             
        |             
        .col-md-4
            h4.tfilm Black Mirror
            a#animation_6(href="/tvresults/:42009?")
             img(src="/images/bmitr.jpg", width="85%")

//
  // Footer
  footer.footer.bg-dark.text-white
                    // Footer Links
                    .container.pt-5.pb-2
                      .row
                        .col-md-3.col-lg-4.col-xl-3
                          h4 Information
                          |                     
                          hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
                          |                     
                          p
                            | Progetto realizzato per il corso di Reti di Calcolatori, universit&agrave; Sapienza di Roma.
                        |                 
                        .col-md-3.col-lg-2.col-xl-2.mx-auto
                          h4 Useful links
                          |                     
                          hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
                          |                     
                          p
                            a.text-white(href='#') Home
                          |                     
                          p
                            a.text-white(href='#') About Us
                        |                 
                        .col-md-4.col-lg-3.col-xl-3
                          h4 Contact
                          |                     
                          hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
                          |                     
                          p
                            a(href='https://goo.gl/maps/Z6mkUPT3rin')
                              i.fa.fa-home.mr-3.text-white
                            |  Piazzale Aldo Moro 7
                          |                                        
                          p
                            i.fa.fa-phone.mr-3
                            |  + 06 842 569
                    // Footer Links
                    hr.bg-white.mx-4.mt-2.mb-1
                    // Copyright
                    .container-fluid
                      p.text-center.m-0.py-1
                        | &copy; 2019 Copyright 
                        a.text-white(href='https://getbootstrap.com/') MK
                    // Copyright
                  // Footer 
  //
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')     
      script(src='//code.jquery.com/jquery-1.11.1.min.js')
