@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
.bg-dark {
    background-color: #343a40!important;
}

.LP {
    color:  #343a40;
    margin-left: 34%;
}

.LP:hover {
	color:  #343a40;
	text-decoration: none;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


@keyframes scalaImmagine {
    from {transform:scale(1,1);}
    to {transform:scale(1.05,1.05);}  /*diventa più grande di 0.05*/
}
#animation_6 img:hover {
    animation-name:scalaImmagine;
	transform:scale(1.05,1.05);  /*a fine animazione torna a questa grandezza*/
    animation-duration:0.9s;
}

.sfbg{
    background-image: url("/images/sfondo.jpg");
    /*background-color: peachpuff;*/
    background-size: cover;
}

.sfchat {
  background-color: black;
  background-size: contain
}

.si {
    margin-top: 5%;
    margin-left: 12%;
}

.B {
    color: black;   
    margin-left: 8%;
}

.so {
    color: black;
    margin-left: 30%;
    text-decoration: none;
}

.so:hover {
    color: black;
    margin-left: 30%;
    text-decoration: none;
}

.fbg{
    background-image: url("/images/interstellar.jpg");
    /*background-color: peachpuff;*/
    background-size: cover;
}

.gog{
    background-image: url("/images/Google.png");
    /*background-color: peachpuff;*/
    background-size: cover;
}